* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

/*-------FEJLÉC-------*/


div.marad{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 12;
}
header{
    background-color: #fefae0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header img{
    padding-top: 10px;
    padding-right: 10px;
    height: fit-content;
    width: 90px;
}
a{
    text-decoration: none;
}
h1{
    text-decoration:dashed;
    color: black;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    display: block;
    font-family: 'sajat';
    font-weight: 500;
    font-size: 20px;
    word-spacing: 0.3em;
}
@font-face {
    font-family: 'sajat';
    src: url('../betutipusok/Benilla Calligraphy.ttf');
}

/*-------NAVIGÁCIÓ--------*/

div.gorgetheto{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}
nav#navlist{
    flex: 1 1 100%;
    padding-bottom: 20px;
}
nav#navlist, nav#navlist ul{
    margin: 0;
    background-color: #fefae0;
    padding-top: 45px;

    
}
nav#navlist ul li{
    margin: 0;
    margin-bottom: 1%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
    letter-spacing: 0.2em;
    margin-right: 40px;

    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border: 3px solid #dda15e;
    border-radius: 90px;
    
    z-index: 10;
}
nav#navlist ul li a{
    padding: 8px;
    font-family: "Caveat";
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    color: black;
}

/*--------GOMB ANIMÁCIÓ--------*/

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #dda15e;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.08s);
    z-index: -1;
}

nav ul li a:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

/*--------GOMB ANIMÁCIÓ VÉGE--------*/

nav#navlist ul li#current {
    border: 4px solid #bc6c25;
    background-color: #dda15e;
}

/*-------FŐVONAL-------*/

div.fovonal{
    background-color: #fefae0;
}
div.fovonal hr{
    align-content: center;
    width: 94%;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 0;
    border: 5px solid #dda15e;
    border-radius: 90px;
}

/*--------BORÍTÓKÉP--------*/

.containerimg {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.containerimg{
    margin: 0;
    padding: 0;
    background-color: #606C38;
}
div.containerimg figure {
    margin: 0;
    padding: 0;
    border: 0;
}
div.containerimg figure img{
    display: flex;
    margin-top: 317.725px;
    height: auto;
    max-width: 100%;
    z-index: 9;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0 0 3vw 3vw;
}
.text-block{
    position: absolute;
    margin-top: 165px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefae0;
    font-family: "Caveat";
    letter-spacing: 0.2em;
    font-size: 5vw;
}
.text-block a h2{
    text-decoration: none;
    color: #fefae0;
    text-shadow: 3px 3px 10px rgba(96, 108, 56, 0.9);
}
.text-block a h2#jelentkezes{
    font-size: 100%;
    text-align: center;
}

/*--------NYÍL ANIMÁCIÓ--------*/

.text-block-nyil{
    position: absolute;
    margin-top: 165px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefae0;
    font-family: "Caveat";
    letter-spacing: 0.2em;
    font-size: 5vw;
}
.text-block-nyil span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fefae0;
    border-right: 3px solid #fefae0;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}

.text-block-nyil span:nth-child(2){
    animation-delay: -0.4s;
}
.text-block-nyil span:nth-child(3){
    animation-delay: -0.8s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

/*--------BEUSZÁS JS--------*/

.beuszas {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transition-delay: 0.15s;
}

.beuszas.megjelenes{
    opacity: 1;
}

/*--------MÁSODIK VONAL--------*/

div.masodvonal{
    background-color: #606C38;
    z-index: 12;
    position: sticky;
    top: 84.4px;
}
div.masodvonal hr{
    display: block;
    align-content: center;
    width: 94%;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 0;
    border: 5px solid #283618;
    border-radius: 90px;
}
a.anchor{
    display: block;
    position: relative;
    top: -93.5px;
    visibility: hidden;
}

/*--------KONTENT--------*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container>* {
    height: fit-content;
    margin: 1%;
}
article.container{
    margin: 0;
    padding: 0;
    background-color: #606C38;
}

/*--------BLOKKOK--------*/

article.container div{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 3.5%;
    background-color: #606C38;
    text-align: justify;
    z-index: 11;
    color: #fefae0;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: large;
}
article.container div h3{
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: x-large;
}


article.container div div.fooldal{
    margin-bottom: 3.5%;
    padding: 0;
    background-color: #283618;
    border: 5px solid #283618;
    border-radius: 30px;
}

article.container div div.fooldal div{
    background-color: #283618;
    border-radius: 30px;
}

article.container div div.fooldal div iframe{
    margin-bottom: 2%;
}

/*--------SZOLGÁLTATÁSOK--------*/

article.container div div.szolgaltatasok{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}
article.container div div.szolgaltatasok div.szolgaltatas{
    align-content: flex-start;
    padding: 0;
    margin: 1%;
    flex-wrap: wrap;
    flex-basis: 98%;
    background-color: #283618;
    border: 5px solid #283618;
    border-radius: 30px;
    font-size: medium;
}
article.container div div.szolgaltatasok div.szolgaltatas img{
    
    border: 0;
    padding: 0;
    margin: 0;
    height: auto;
    max-width: 100%;
    border-radius: 25px 25px 0px 0px;
}
article.container div div.szolgaltatasok div.szolgaltatas h4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: x-large;
    background-color: #283618;
    color: #fefae0;
    margin-left: auto;
    margin-right: auto;
}
article.container div div.szolgaltatasok div.szolgaltatas p{
    background-color: #283618;
    color: #fefae0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5;
    font-size: 1.08em;
}

/*--------FŐOLDAL SZOLG. GOMB--------*/

article.container div div.fooldal div.mellette{
    flex-direction: column;
    padding: 0;
}
article.container div div.fooldal div.mellette1{
    padding: 0;
    margin-bottom: 10px;
}
article.container div div.fooldal div.mellette2{
    margin-top: 10px;
    background-color: #ccd5ae;
    border-radius: 90px;
    align-self: center;
    color: #283618;
    text-align: center;
    z-index: 11;
    margin-bottom: 2%;
}
article.container div div.fooldal div.mellette2 a, article.container div div.fooldal div.mellette2 a:visited{
    list-style-type: none;
    text-decoration: none;
    color: #283618;
}
article.container div div.fooldal div.mellette2:hover{
    background-color: #bc6c25;
    text-decoration: none;
    color: #fefae0;
    transition: 0.2s ease;
}
article.container div div.fooldal div.mellette2:hover a{
    color: #fefae0;
}

/*--------STB--------*/
article.container p{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 10px 3.5%;
    background-color: #606C38;
    z-index: 11;
    color: #fefae0;
}

/*--------GALÉRIA KONTENT--------*/

.galleria {
    margin: auto;
    width: 80vw;
    height: 95vw;
    z-index: 11;
    display: inline;
    background-color: #606C38;
    margin: 0;
    position: relative;
}

article div.galeriahatter{
    background-color: #606C38;
    margin-left: auto;
    margin-right: auto;
    padding: 3.5%;
    z-index: 11;
    position: relative;
}

/*--------KAPCSOLAT--------*/

article.container div div.kapcsolat{
    margin-bottom: 3.5%;
    padding: 0;
    color: #fefae0;
    background-color: #283618;
    border: 7px dashed #606C38;
    border-radius: 30px;
}

article.container div div.kapcsolat p{
    background-color: #283618;
}

article.container div div.kapcsolat h3.behuzva{
    margin-left: 3.5%;
}

article.container div div.kapcsolat div.sorozatos{
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #283618;
}
article.container div div.kapcsolat div.sorozatos div{
    padding: 2%;
    flex-basis: 98%;
    height: auto;
    border-top: 5px dotted #dda15e;
    background-color: #283618;
}
article.container div div.kapcsolat div.sorozatos div.bekuldogomb{
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0px;
}
article.container div div.kapcsolat div.sorozatos div h5{
    margin: 0 0 3.5% 0;
    font-size: larger;
}
article.container div div.kapcsolat div.sorozatos div.bekuldogomb div.gombok{
    display: inline;
    text-align: center;
    flex-basis: 30%;
    border-left: 0px;
    border-top: 3px solid #dda15e;
}
p#idkiszamolooo{
    display: block;
    text-align: center;
}

article.container div div.kapcsolat div.jelentkezes{
    flex: 1 1 100%;
    background-color: #283618;
    text-align: center;
}

article.container div div.kapcsolat div.jelentkezes div.bekuldogomb2{
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0px;
    background-color: #283618;
    
}

article.container div div.kapcsolat div.jelentkezes div.bekuldogomb2 div.gombok2{
    display: inline;
    text-align: center;
    padding:0;
    flex-basis: 30%;
    border-left: 0px;
    border-top: 3px solid #dda15e;
    background-color: #283618;
}

/*--------NAGY CHECKBOX STYLE--------*/

.container10 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 25px;
}

.container10 input {
    visibility: hidden;
    cursor: pointer;
}

.mark {
    position: absolute;
    top: 5px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #fefae0;
    border: 2px solid #dda15e;
    border-radius: 5px;
}
  
.container10:hover input ~ .mark {
    background-color: #ccd5ae;
}
  
.container10 input:checked ~ .mark {
    background-color: #dda15e;
}

.mark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container10 input:checked ~ .mark:after {
    display: block;
}
  
.container10 .mark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*--------KIS CHECKBOX STYLE--------*/

.container100 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
}

.container100 input {
    visibility: hidden;
    cursor: pointer;
}

.mark100 {
    position: absolute;
    top: 4px;
    left: 0px;
    height: 15px;
    width: 15px;
    background-color: #fefae0;
    border: 2px solid #dda15e;
    border-radius: 5px;
}
  
.container100:hover input ~ .mark100 {
    background-color: #ccd5ae;
}
  
.container100 input:checked ~ .mark100 {
    background-color: #dda15e;
}

.mark100:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container100 input:checked ~ .mark100:after {
    display: block;
}
  
.container100 .mark100:after {
    left: 3px;
    top: 1px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*--------JELENTKEZÉS - KIS CHECKBOX STYLE--------*/

.container1000 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
}

.container1000 input {
    visibility: hidden;
    cursor: pointer;
}

.mark1000 {
    position: absolute;
    top: 4px;
    left: auto;
    right: auto;
    height: 15px;
    width: 15px;
    background-color: #fefae0;
    border: 2px solid #dda15e;
    border-radius: 5px;
}
  
.container1000:hover input ~ .mark1000{
    background-color: #ccd5ae;
}
  
.container1000 input:checked ~ .mark1000 {
    background-color: #dda15e;
}

.mark1000:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container1000 input:checked ~ .mark1000:after {
    display: block;
}
  
.container1000 .mark1000:after {
    left: 3px;
    top: 1px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*--------KIS RADIO STYLE--------*/

.container1r {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
}

.container1r input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.check {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fefae0;
    border-radius: 50%;
    border: 2px solid #dda15e;
}
  
.container1r:hover input ~ .check {
    background-color: #ccd5ae;
}
  
.container1r input:checked ~ .check {
    background-color: #dda15e;
}
  
.check:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container1r input:checked ~ .check:after {
    display: block;
}
  
.container1r .check:after {
    top: 2.6px;
    left: 2.6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fefae0;
}

/*--------TOVÁBBI ŰRLAPELEMEK--------*/

input[type="button"] {
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 25vw;
}

input[type="button"]:hover{
    background-color: #ccd5ae;
}

input[type="reset"] {
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 25vw;
}

input[type="reset"]:hover {
    background-color: #ccd5ae;
}

input[type="submit"] {
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 25vw;
}

input[type="text"] {
    text-align: center;
    height: 35px;
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

input[type="text"]:hover {
    background-color: #ccd5ae;
}

input[type="email"] {
    text-align: center;
    height: 35px;
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

input[type="email"]:hover {
    background-color: #ccd5ae;
}

input[type="tel"] {
    text-align: center;
    height: 35px;
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

input[type="tel"]:hover {
    background-color: #ccd5ae;
}

input[type="submit"]:hover {
    background-color: #ccd5ae;
}

input[type="number"] {
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

input[type="month"] {
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

input[type="month"]:hover {
    background-color: #ccd5ae;
}

select{
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

select:hover {
    background-color: #ccd5ae;
}

textarea{
    border: 2px solid #dda15e;
    border-radius: 10px;
    background-color: #fefae0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: 300px;
    height: 100px;
}

/*--------KÜLSŐ jQuery Validátor--------*/

label.error {
    color: #FB3A3A;
}
#vnev.error{
    border: 3px solid red;
}
#knev.error{
    border: 3px solid red;
}
#emailcim.error{
    border: 3px solid red;
}
#telefonszam.error{
    border: 3px solid red;
}
#megjegyzes.error{
    border: 3px solid red;
}


/*--------DÍSZÍTŐ ELVÁLASZTÓ--------*/

.row{
    width:100%;
    height: 6vw;
    padding:0;
    margin:0;
    border: 0;
    display: block;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 11;
    background-color: #606C38;
}

/*--------LÁBLÉC--------*/

footer >*{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #283618;
    color: #fefae0;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: large;
    z-index: 11;
}
footer{
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 11;
    background-color: #283618;
}
footer.elrendezes {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer.elrendezes div.elrendezes1{
    flex-basis: 98%;
    border-top: 3px dotted #bc6c25;
    padding-left: 3.5%;
    padding-right: 3.5%;
    height: auto;
}
footer.elrendezes div.elrendezes1 span.nagyobb{
    font-size: x-large;
}
footer img.kisikon{
    display: inline;
    width: 15px;
}
footer img{
    display: inline;
    width: 40px;
    background-color: #283618;
}
footer img:hover{
    transform: scale(1.2);

    /*transition: ease 0.5s;*/
}
footer.elrendezes div.copyright{
    text-align: center;
    font-size: medium;
}

/*--------TABLET--------*/

@media all and (min-width: 600px) {
    /*tablet*/
    header img{
        padding-top: 15px;
        padding-right: 30px;
        width: 130px;
    }
    h1{
        font-size: 30px;
    }
    nav#navlist{
        display: flex;
        justify-content: center;
        
    }
    nav#navlist ul{
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
    nav#navlist ul li{
        display: flex;
        justify-content: center;
        letter-spacing: 0.02em;
    }
    nav#navlist ul li a{
        padding: 15px 20px;
    }
    div.containerimg figure img{
        margin-top: 222.738px;
    }
    .text-block{
        margin-top: 118px;
    }

    .text-block-nyil{
        top: 55%;
    }
    .text-block-nyil span{
        width: 20px;
        height: 20px;
    }

    div.masodvonal{
        top: 121.6px;   
    }
    a.anchor{
        top: -131px;
    }

    .galleria {
        height: 60vw;
    }

    article.container div div.kapcsolat div.sorozatos div.bekuldogomb{
        border-top: 0px;
        border-left: 0px;
    }

    input[type="button"] {
        font-size: x-large;
    }
    
    input[type="reset"] {
        font-size: x-large;
    }
    
    input[type="submit"] {
        font-size: x-large;
    }

    footer.elrendezes{
        flex-direction: row;
    }
    footer.elrendezes div.elrendezes1{
        flex-basis: 44.5%;
        border-top: 0;
        border-left: 3px dotted #bc6c25;
        padding-top: 0;
        padding-left: 3.5%;
    }
    footer.elrendezes div.copyright{
        flex-basis: 98%;
    }
}

/*--------SZÁMÍTÓGÉP--------*/

@media all and (min-width: 768px) {
    /*számítógép*/
    header img{
        padding-top: 8px;
    }
    h1{
        padding: 0;
    }
    nav#navlist{
        padding-bottom: 0;
        padding-top: 32px;
    }
    nav#navlist ul li{
        letter-spacing: 0.2em;
    }
    div.containerimg figure img{
        margin-top: 188.863px;
    }
    .text-block{
        margin-top: 100px;
    }

    /*--------NYÍL ANIMÁCIÓ--------*/

    .text-block-nyil{
        top: 55%;
    }
    .text-block-nyil span{
        width: 22px;
        height: 22px;
    }

    div.masodvonal{
        top: 111.6px;
    }
    a.anchor{
        top: -121px;
    }
    article.container div div.fooldal div.mellette{
        flex-direction: row;
    }
    article.container div div.fooldal div.mellette1{
        flex-basis: 75%;
        margin-right: 2%;
    }
    article.container div div.fooldal div.mellette2{
        margin-left: 2%;
        flex-basis: 15%;
        align-self: flex-start;
    }
    article.container div div.szolgaltatasok div.szolgaltatas{
        flex-basis: 46%;
    }

    .galleria {
        height: 40vw;
    }

    article.container div div.kapcsolat div.sorozatos div{
        padding: 1%;
    }

    article.container div div.kapcsolat div.sorozatos div{
        flex-basis: 48%;
        padding-left: 15px;
        padding-right: 15px;
        border-left: 5px dotted #dda15e;
        border-top: 0px;
    }

    article.container div div.kapcsolat div.sorozatos div.bekuldogomb div.gombok{
        border-top: 0px;
    }
}